[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "topmodel"]
	path = topmodel
	url = https://github.com/ichydro/topmodel
	subdir = topmodel
